.header {
    display: flex;
    color: #9a9a9a;
    font-size: 24px;
}

.player-x {
    flex: 1;
    border-bottom: 5px solid #eee;
    padding-bottom: 8px;
}

.player-x.active {
    color: #42Bed7;
    border-color: #42Bed7;
}

.player-o {
    flex: 1;
    border-bottom: 5px solid #eee;
    padding-bottom: 8px;
}

.player-o.active {
    color: #d7bafb;
    border-color: #d7bafb;
}

.game {
    width: 500px;
    height: 500px;
    display: flex;
    flex-direction: column;
}

.board {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3, 1fr);
    flex-grow: 1;
    grid-gap: 0px;
    padding: 10px;
}

.board-tile {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 80px;
    background-color: white;
}

.board-tile:not(:nth-child(3n)) {
    border-right: 3px solid rgba(137,163, 189, 0.6);
}

.board-tile:not(:nth-last-child(-n + 3)) {
    border-bottom: 3px solid rgba(137,163, 189, 0.6);
}

.board-tile:hover {
    background-color: #eeeeee;
    transition: all 0.25s ease-in-out;
    cursor: default;
}

.tile-x {
    color: #42Bed7;
}

.tile-0 {
    color: #d7bafb;
}


